{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{movie.title}} {% endblock title %}
{% block container %}
<div class="container-fluid py-md-3">
    {% endblock container %}

    {% block sidebar %}
    <div class="side-bar col-lg-4">
    {% endblock sidebar %}
    {% block movie %}
        <div class="left-ads-display col-lg-8">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <img src="{{movie.poster.url}}" class="img-fluid" alt="">
                </div>
                <div class="desc1-right col-md-6 pl-lg-4">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        {{movie.title}}</h3>
                    <h5 class="editContent"></h5>
                    <ul>
                        <li ><span><b>Год рождения:</b> {{movie.year}}</span></li>

                        <li style="list-style: none">
                            <span><b>Режиссер:</b>
                                {% for director in movie.directors.all %}
                                {{director.name}}
                                {% endfor %}
                            </span></li>
                        <li style="list-style: none"><span><b>Актеры:</b>
                                {% for actor in movie.actors.all %}
                                {{actor.name}}
                                {% endfor %}
                            </span></li>
                        </li>
                </div>
            </div>
            <div class="row sub-para-w3layouts mt-5">
                <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                    О фильме {{movie.title}}</h3>
                <p>
                </p>
                <p class="editContent" >{{movie.desription|safe}}</p>
                <p class="mt-3 italic-blue editContent" style="outline: none; cursor: inherit;">
                </p>
        </div>
    </div>
{% endblock movie %}